/* Configs and Reset */
@font-face {
   font-family: "DM Sans";
   src: url("../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf");
   font-style: normal;
}

@font-face {
   font-family: "DM Sans";
   src: url("../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
   font-style: italic;
}

:root {
   /* Primary Colours */
   --primary-100: hsl(31 66% 93%);
   --primary-200: hsl(39 100% 71%);
   --primary-300: hsl(254 88% 90%);
   --primary-400: hsl(256 67% 59%);
   
   /* Neutral Colours */
   --neutral-100: #fff;
   --neutral-200: hsl(0 0% 96%);
   --neutral-300: hsl(0 0% 7%);

   /* Typography */
   --fw-100: 400;
   --fw-200: 500;

   font-family: "DM Sans", sans-serif;
   font-size: 1.12rem;
}

*,
*>*,
*+*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   color: var(--neutral-300);
   font-weight: var(--fw-100);
}

p,
h1,
h2,
span {
   --colour: inherit;
   color: var(--colour);
}

body {
   box-sizing: border-box;
   background-color: var(--neutral-200);
}

figure > img {
   width: 100%;
   height: 100%;
}

span:not(:where(h1, h2, p, span)>span) {
   display: block;
}
/*=*/

/* Generic Styles */

.bento-container {
   --columns: 1fr;
   --rows: auto;
   --padding: 1rem;
   --gap: 2rem;

   display: grid;
   grid-template-columns: var(--columns);
   grid-template-rows: var(--rows);
   grid-auto-flow: row;
   gap: var(--gap);

   padding: calc(var(--padding) * 2) var(--padding);
}

.bento__wrapper {
   grid-area: var(--position);
   border-radius: 10px;
   background-color: var(--bg-colour);

   padding: 1rem;
}

.bento-wrapper__tooltip {
   display: block;
   color: var(--neutral-300);
}

.bento-wrapper__title {
   --colour: var(--neutral-300);
   --fs: 1.4rem;
   
   color: var(--colour);
   font-size: var(--fs);
   font-weight: var(--fw-200);
   margin-block: .5rem;

   &:where(h1, .light-title) {
      --colour: var(--neutral-200);
   }
}

.overflow-figure {
   position: relative;
}

.text-center {
   text-align: center;
}

.variable-element {
   --width: 70%;
   max-width: clamp(50px, var(--width), 200px);
   margin-inline: auto;
   margin-block: 0;
}

.center-figure {
   --block-offset: 1rem;
   --inline-offset: 0;
   margin-block: var(--block-offset);
   margin-inline: var(--inline-offset);
}

/*=*/

.bento__wrapper h1 {
   color: var(--neutral-100);
   text-align: center;
   font-size: 2rem;

   & .color_span {
      color: var(--primary-200);
   }
   & .style_span {
      color: inherit;
      font-style: italic;
   }
}

.main-item {
   padding: 2rem;
}

.main-item .bento-wrapper__tooltip {
   color: var(--primary-100);
}

.bento__wrapper:has(.bottom-overflow) {
   aspect-ratio: 16/12;
   overflow: hidden;

   & figure {
      top: .5rem;
      width: 70%;
   }
}

.social-media__wrapper .bento-wrapper__tooltip {
   font-size: .9rem;
   font-weight: var(--fw-200);
}

.audience-growth__wrapper .bento-wrapper__title {
   font-size: 2.5rem;
   margin: 0;
   margin-bottom: .5rem;
}

.audience-growth__wrapper span,
.create-schedule__wrapper span {
   font-weight: var(--fw-200);
   font-size: .9rem;
   color: var(--neutral-300);
}

.create-schedule__wrapper h2,
.content-ai__wrapper h2 {
   font-size: 1.5rem;
}

.create-schedule__wrapper span {
   font-size: inherit;
   color: var(--colour);
   font-style: italic;
}

@media screen and (min-width: 90rem) {   
   .bento-container {
      --columns: repeat(4, 1fr);
      --rows: 20fr 3fr 10fr 10fr; 

      max-width: 65vw;
      height: 100vh;

      margin: auto;
      grid-template-areas: "a b b c"
                           "a d e c"
                           "f d e c"
                           "f g h h";
      gap: 1rem;
   }

   .bento__wrapper {   
      display: flex;
      flex-direction: column;
      align-items: center;
    
      width: 100%;
      height: 100%;
   }

   .grow-followers__wrapper {
      flex-direction: row;

      & figure {
         --block-offset: 0!important;
      }
   }
}